header {
  background-color: #381f3d;
  width: 100%;
  color: #e2e7e2;
}
footer {
  background-color: #381f3d;
  width: 100%;
  padding: 8 px;
  text-align: center;
  color: #e2e7e2;
}
h1 {
  font-size: 40px;
  padding: 20px;
  text-align: center;
}
.nav-link {
  padding: 10px;
  margin: 0px;
  background-color: #381f3d;
}
.nav-link li {
  margin: 0px;
  font-size: 20px;
  display: inline-block;
}
ul {
  padding: 10px;
  background-color: #381f3d;
  list-style-type: none;
  overflow: hidden;
}
.nav-link:hover {
  background: #190d1b;
}
body {
  background: #e2e7e2;
}
